.HomeSection {
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}

.innerHomeSection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap  ;
}